.about-container{
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 80px - 270px);
    padding-top: 1px;
}

.about-content-wrapper{
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    padding: 0 20px;
    margin-top: 1em;
}

.card-container{
    border: 1px rgba(0, 0, 0, 0.3) solid;
    border-radius: 5px;

    margin-top: 1em;
    padding: 1em 10px;
    
}

.paper-card-content{
    display: flex;
    justify-content:space-between;
    
}