.subNavBar-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    height: 270px;
    width: 100%;
    color: white;
}
.subNavBar-content-wrapper{
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    padding: 0 20px;
}
.current-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
}

.current-tab{
    font-weight: 900;
    font-size: 22px;
    color: white;
}
.current-path{
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

.tab-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 110px;
    background-color: rgba(107, 104, 104, 0.479);
    padding-left: 20px;
}

.tab-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    color: white;
    height: 50%;
  }
  
  .tab-button.active {
    border-bottom: 3px solid #3ea8ff;
    color: #3ea8ff;
    font-weight: bold;
  }